# HIVEPROJECTS.IO PRODUCTION ################################################################

www.hiveprojects.io {
    redir https://hiveprojects.io
}

hiveprojects.io {
    proxy / hiveprojectsio_django-a:5000 hiveprojectsio_django-b:5000 {
        health_check /health_check/
        health_check_interval 1s
        health_check_timeout 5s
        fail_timeout 5s
        policy round_robin
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-Proto {scheme}
    }
    ratelimit / 10 10 second
    log stdout
    errors stdout
    gzip
}

hiveprojects.io/static {
    root /data/hiveprojectsio_static
    header / Cache-Control "max-age=2592000"
    gzip
}

hiveprojects.io/media {
    root /data/hiveprojectsio_media
    header / Cache-Control "max-age=2592000"
    gzip
}

# PRODUCTION ################################################################################

www.steemprojects.com {
    redir https://steemprojects.com
#    tls noisy.pl@gmail.com {
#      ca https://acme-staging.api.letsencrypt.org/directory
#    }
}

steemprojects.com {
    proxy / steemprojectscom_django-a:5000 steemprojectscom_django-b:5000 {
        health_check /health_check/
        health_check_interval 1s
        health_check_timeout 5s
        fail_timeout 5s
        policy round_robin
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-Proto {scheme}
    }
#    tls noisy.pl@gmail.com {
#      ca https://acme-staging.api.letsencrypt.org/directory
#    }
    ratelimit / 10 10 second
    log stdout
    errors stdout
    gzip
}

steemprojects.com/static {
#    tls noisy.pl@gmail.com {
#      ca https://acme-staging.api.letsencrypt.org/directory
#    }
    root /data/steemprojectscom_static
    header / Cache-Control "max-age=2592000"
    gzip
}

steemprojects.com/media {
#    tls noisy.pl@gmail.com {
#      ca https://acme-staging.api.letsencrypt.org/directory
#    }
    root /data/steemprojectscom_media
    header / Cache-Control "max-age=2592000"
    gzip
}
# STAGING ###################################################################################

www.staging.steemprojects.com {
    #tls noisy.pl@gmail.com {
    #  ca https://acme-staging.api.letsencrypt.org/directory
    #}
    redir https://staging.steemprojects.com
}

staging.steemprojects.com {
    #tls noisy.pl@gmail.com {
    #  ca https://acme-staging.api.letsencrypt.org/directory
    #}
    proxy / stagingsteemprojectscom_django-a:5000 stagingsteemprojectscom_django-b:5000 {
        health_check /health_check/
        health_check_interval 1s
        health_check_timeout 5s
        fail_timeout 5s
        policy round_robin
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-Proto {scheme}
    }
    ratelimit / 10 10 second
    log stdout
    errors stdout
    gzip
}

staging.steemprojects.com/static {
    #tls noisy.pl@gmail.com {
    #  ca https://acme-staging.api.letsencrypt.org/directory
    #}
    root /data/stagingsteemprojectscom_static
    header / Cache-Control "max-age=2592000"
    gzip
}

staging.steemprojects.com/media {
    #tls noisy.pl@gmail.com {
    #  ca https://acme-staging.api.letsencrypt.org/directory
    #}
    root /data/stagingsteemprojectscom_media
    header / Cache-Control "max-age=2592000"
    gzip
}


# DALEK #####################################################################################

www.dalek.steemprojects.com {
    #tls noisy.pl@gmail.com {
    #  ca https://acme-staging.api.letsencrypt.org/directory
    #}
    redir https://dalek.steemprojects.com
}

dalek.steemprojects.com {
    #tls noisy.pl@gmail.com {
    #  ca https://acme-staging.api.letsencrypt.org/directory
    #}
    proxy / daleksteemprojectscom_django-a:5000 daleksteemprojectscom_django-b:5000 {
        health_check /health_check/
        health_check_interval 1s
        health_check_timeout 5s
        fail_timeout 5s
        policy round_robin
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-Proto {scheme}
    }
    ratelimit / 10 10 second
    log stdout
    errors stdout
    gzip
}

dalek.steemprojects.com/static {
    #tls noisy.pl@gmail.com {
    #  ca https://acme-staging.api.letsencrypt.org/directory
    #}
    root /data/daleksteemprojectscom_static
    header / Cache-Control "max-age=2592000"
    gzip
}

dalek.steemprojects.com/media {
    #tls noisy.pl@gmail.com {
    #  ca https://acme-staging.api.letsencrypt.org/directory
    #}
    root /data/daleksteemprojectscom_media
    header / Cache-Control "max-age=2592000"
    gzip
}

# OTHER #####################################################################################

social-auth-steemconnect-demo.krzysztofszumny.pl {
    #tls noisy.pl@gmail.com {
    #  ca https://acme-staging.api.letsencrypt.org/directory
    #}
    proxy / exampledjango_django:5000 {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-Proto {scheme}
    }
    log stdout
    errors stdout
    gzip
}
