www.alpha.steemprojects.com {
    redir https://alpha.steemprojects.com
}

alpha.steemprojects.com {
    proxy / steemprojectscom_django-a:5000 steemprojectscom_django-b:5000 {
        health_check /health_check/
        health_check_interval 1s
        health_check_timeout 5s
        fail_timeout 5s
        policy round_robin
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-Proto {scheme}
    }
    ratelimit / 2 3 second
    log stdout
    errors stdout
    gzip
}

alpha.steemprojects.com/static {
    root /data/steemprojectscom_static
    header / Cache-Control "max-age=2592000"
    gzip
}

alpha.steemprojects.com/media {
    root /data/steemprojectscom_media
    header / Cache-Control "max-age=2592000"
    gzip
}

social-auth-steemconnect-demo.krzysztofszumny.pl {
    proxy / exampledjango_django:5000 {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-Proto {scheme}
    }
    log stdout
    errors stdout
    gzip
}
